<h1>Rundown</h1>

<%= link_to "Registered Applications", registered_applications_path, class: 'btn btn-info btn-block' %>
  <br>
<%= link_to 'Create New Registered Application', new_registered_application_path, class: 'btn btn-success btn-block' %>
